:root {
    --background-color: #1A1A1A;
    --main-color: #6BC4E8;
    --border-color: blue;
    --sub-color: #81D3D9;
    --text-color: rgb(228, 228, 228);
    --border-color: rgb(47, 241, 255);
    --erase-color: orange;
}

/* all */
* {
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;       
}

/* header */
    /* WIPO SEQUENCE SOCKS */
header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    color: var(--text-color);
    background-color: var(--background-color);
}

/* main */
main {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr;
    width: 100%;
    border-inline: 1px solid var(--sub-color);
    margin: 0 auto;
    align-content: start;
    padding: 20px;
}

.description {
    display: grid;
    margin: 0 auto;
    max-width: 50%;
    align-content: start;
    gap: 10px;
}

    /* HOW TO USE*/
.description_title {
    border: 1px solid var(--erase-color);
    text-align: center;
    height: 40px;    
}
    /* 1 2 3 4 5 */
.description_detail {
    color: var(--text-color);
}

    /* DOWNLOAD UPLOAD*/
.files {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0 auto;
    gap: 10px;    
}

.files_item {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(1);
    border: 1px solid var(--erase-color);
    padding: 20px;    
    gap: 10px;
    
}

.attach {
    display: none;
}

.button {
max-width: 300px;
    padding: 12px 24px;
    max-height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: var(--main-color);
}

.disclaimer {
    font-size: 10px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 80px;

    box-sizing: border-box;
    color: var(--text-color);
    background-color: black;
}

